<div id="content" class="group">
    <!-- spinning loader -->
    <div class="loader rspin">
      <span class="c"></span>
      <span class="d spin"><span class="e"></span></span>
      <span class="r r1"></span>
      <span class="r r2"></span>
      <span class="r r3"></span>
      <span class="r r4"></span>
    </div>
</div>
