# /api
# ----

# Ignore bundler config
/api/.bundle

# Ignore the default SQLite database.
/api/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/api/log/*.log
/api/tmp

# /frontend
# ---------

# compiled output
/frontend/dist
/frontend/tmp

# dependencies
/frontend/node_modules
/frontend/bower_components

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
