<h3><%= card.escape("title") %></h3>

<p>
	<%= card.escape("description") %>
</p>

<h4>Activity</h4>
<ul class="comments">
<% comments.each(function (comment) { %>
	<li><%= comment.escape("content") %></li>	
<% }); %>
</ul>

<form id="add_comment" 
			data-card-id="<%= card.id %>">
  <textarea name="card_comment[content]"
  					placeholder="Write a comment"></textarea>
	<input type="submit" value="Comment" />
</form>

<section class="comments"></section>
