<div class="modal">
	<h3><%= card.escape("title") %></h3>

  <p>CARD DETAILS!</p>

  <h4>Activity</h4>

  <form id="add_comment">
	  <textarea name="card_comment[content]"
	  					data-id="<%= card.id %>" 
	  					placeholder="Write a comment"></textarea>
		<button>Comment</button>
	</form>

  <section class="comments"></section>

</div>
