<section class="board-show group">
  <header class="board_name">
    <span class="edit js-edit-board-name">{{name}}</span>
  </header>

  <!-- <section class="board-sidebar"></section> -->

  {{render 'lists' lists}}

  {{outlet modal}}
</section>
