<section class="board-show group">
  <header class="board_name">
    <span class="edit js-edit-board-name">{{name}}</span>
  </header>

  {{!-- <section class="board-sidebar"></section> --}}

  {{view 'Kanban.ListsView' lists=lists}}
  {{!-- {{lists-index lists=lists}} --}}
</section>
