<div class="lists_inner_wrapper">
  <section class="lists">
    {{#each list in lists}}
      {{!-- {{list-show list=list}} --}}
      {{view 'Kanban.ListView' list=list}}
    {{/each}}
  </section>

  <div class="add_list">
    <form class="add_list" {{action "addList" on="submit"}}>
      {{input type="text"
              value=listTitle
              placeholder="Add a list ..."
              classNames="list_title"}}
      <input type="submit" value="Add List" />
    </form>
  </div>
</div>
