<header class="board_title">
	<h2><%= board.escape("name") %></h2>
</header>

<div class="lists_wrapper">
  <div class="lists_inner_wrapper">

		<section class="lists"></section>

		<div class="add_list">
			<form class="add_list">
				<input type="text"
		           class="list_title"
		           name="list[title]"
		           placeholder="Add a list ..." />
				<input type="submit" value="Add List" />
			</form>
		</div>
  </div> <!-- inner_wrapper -->
</div>

<section class="card_detail"></section>
