<header class="board_name">
  <span class="edit js-edit-board-name"><%= board.escape('name') %></span>
</header>

<section class="board-sidebar"></section>

<div class="lists_wrapper">
  <div class="lists_inner_wrapper">

    <section class="lists"></section>

    <div class="add_list">
      <form class="add_list">
        <input type="text"
               class="list_title"
               name="list[title]"
               placeholder="Add a list ..." />
        <input type="submit" value="Add List" />
      </form>
    </div>
  </div> <!-- inner_wrapper -->
</div>

<section class="card_detail"></section>
