{{!-- <div class="lists_inner_wrapper">
  <section class="lists">
    {{#each list in lists}}
      {{list-detail list=list}}
      {{view 'Kanban.ListView' list=list}}
    {{/each}}
  </section>

  <div class="add_list">
    <form class="add_list">
      <input type="text"
             class="list_title"
             name="list[title]"
             placeholder="Add a list ..." />
      <input type="submit" value="Add List" />
    </form>
  </div>
</div>
 --}}