<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ember!</title>
  <%= stylesheet_link_tag 'frontend' %>
  <%= include_ember_script_tags :frontend %>
</head>
<body>

</body>
  <%= yield %>
</html>
