/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require jquery.modal
 */

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

#header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

  .header-logo {
    /*width: 360px;*/
    float: left;
  }

  .header-logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0 10px 6px;
  }

  .header-logo a {
    text-decoration: none;
  }

  .header-user {
    /*width: 460px;*/
    float: right;
    padding-right: 10px;
  }
  
  .header-user p {
    margin-bottom: 15px;
    display: inline-block;
  }
  .header-user img {
    display: inline-block;
    margin-top: 10px;
  }

#main {
  overflow: hidden;
  padding: 15px 0 15px 0;
}

#content {
  float: left;
  width: 1000px;
  padding: 5px;
  padding-left: 15px;
}

#sidebar {
  float: right;
  width: 240px;
  min-height: 280px;
  background: #f0f0f0;
  padding: 10px;
  margin: 0;
  border-left: 1px solid #ccc;
}

#footer {
  border-top: 1px solid #ccc;
}

section.login {
  width: 360px;
  margin: 0 auto;
}

section.boards-index {
  width: 360px;
  margin: 0 auto;
}

  .boards-index h2 {
    font-size: 18px;
  }

  ul.boards-list {
    margin: 0;
    padding: 0;
  }

  ul.boards-list li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }

section.board-show {
}

  .boards-show h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .lists {
    /*font-family: 'Cutive Mono', serif;*/
  	overflow: hidden;
  }
  
  .list {
  	overflow: hidden;
    background: #e3e3e3;
    width: 220px;
    border: 1px solid #ccc;
    float: left;
    padding: 6px;
    margin: 6px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .list-placeholder {
    background: #B3B3B3;
  	width: 220px;
  	height: auto;
  	padding: 6px;
  	margin: 6px;
  	float: left;
  }

  .list.ui-sortable-helper {
  	-webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
     
	  transition: transform .04s ease;
	  -moz-transition: -moz-transform .04s ease;
  	-ms-transition: -ms-transform .04s ease;
	  -o-transition: -o-transform .04s ease;
	  -webkit-transition: -webkit-transform .04s ease;

  	transform: rotate(4deg);
  	-moz-transform: rotate(4deg);
  	-ms-transform: rotate(4deg);
  	-o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
  }

  div.add_list {
  	color: #666666;
    background: #e3e3e3;
    width: 220px;
    border: 1px dashed #666666;
    float: left;
    padding: 6px;
    margin: 6px;
    opacity: .60;
  }

	div.add_list:hover {
		opacity: 1;
	}

	div.add_card {
    opacity: .85;
	}

	div.add_card:hover {
		opacity: 1;
	}

/*  .add_list:hover {
  	color: #4C4C4C;
    background: #EBEBEB;  	
    border: 1px solid #A6A6A6;
  }*/

  button.archive_list,
  button.archive_card {
  	display: inline-block;
  	float: right;
  	border: none;
  	background: transparent;
  	color: #7D7D7D;
  	padding: 0 3px 3px 3px;
  }

  button.archive_list:hover,
  button.archive_card:hover {
  	color: #292929;
  	cursor: pointer;
  }

  .cards {
    /*font-family: 'Cutive Mono', serif;*/
    min-height: 42px;
  }

  .card {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 3px 0 3px 0;
    cursor: pointer;
  }

  .card:hover {
  	border: 1px solid #808080;
  }

  .card-placeholder {
    background: #CFCFCF;
    padding: 10px;
    margin: 3px 0 3px 0;
  }

  .card.ui-sortable-helper {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .card_detail {
    /*font-family: 'Cutive Mono', serif;*/
  }

  input[type="text"],
  input[type="password"] {
  	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  	
  	padding: 5px;
  	border: 1px solid #ccc;
  }

  input[type="submit"] {
  	/*width: 60%;*/
  	padding: 4px 16px 4px 16px;
  	border: 1px solid #A1A1A1;
  	background: #C5C5C5;
  	display: block;
  	/*float: right;*/
  	margin-top: 3px;
  	cursor: pointer;
  }

  input[type="submit"]:hover {
  	background: #AEAEAE;
	}

  textarea {
  	width: 95%;
  	padding: 10px;
  	border: 1px solid #ccc;
  }

