/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

#header {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.lists header {
  font-size: 1.15em;
  font-weight: bold;
}

.list {
  background: #e3e3e3;
  width: 300px;
  border: 1px solid #ccc;
  float: left;
  padding: 6px;
  margin: 6px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.list.ui-sortable-helper {
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}

.card {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 3px 0 3px 0;
  cursor: pointer;
}

.card.ui-sortable-helper {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}


